.flex-container {
  display: flex;
  width: 100%;
  height: 70%;
}

#selection-table {
  width: 80%;
  margin: 0 5%;
  overflow-y: scroll;
  position: relative;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  border-top: 2px solid rgba(0,0,0,0.2);
}

.ui.table thead tr:first-child > th {
     position: sticky !important;
     top: 0;
     z-index: 2;
}

#selection-table #search-bar {
  position: absolute;
  top: 3.5%;
  right: 2%;
  z-index: 3;
}

#search-bar input {
  width: 100%;
}

.scrolling {
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100%;
  max-height: 450px;
}

#alpha-filter {
  width: 5%;
  margin: 0 5% 0 0;
}


#alpha-filter li {
  color: rgba(6,69,173,0.6);
  list-style-type: circle;
  text-decoration: underline;
  padding-bottom: 2px;
}

#alpha-filter li:hover {
  cursor: pointer;
  color: rgba(6,69,173,1);
  list-style-type: square;
}

tr {
  width: inherit;
}

td {
  width: inherit;
}

tr:hover {
  cursor: pointer;
}


/* MODAL */
.header {
  min-height: 70px;
}

.modal-header {
  display: block;
  position: relative;
  height: 100%;
}

.modal-header h3 {
  display: block;
  position: absolute;
  top: 3%;
  left: 3%;
}

.modal-header button {
  display: block;
  position: absolute;
  top: 3%;
  right: 3%;
}




#purchase-modal {
  min-height: 95vh;
}

.card div {
  margin: 20px;
}

.content {
  height: 100%;
  min-height: 600px;
  max-height: 800px;
  width: 100%;
  overflow-y: auto;
}

#summary-card {
  height: 100%;
  width: 30%;
  margin-right: 1%;
}

#chart-container {
  width: 70%;
  height: 100%;
}

#transaction-card {
  height: 100%;
  width: 69%;
}

#company-site {
  padding-left: 10px;
  font-size: 0.8em;
}

#errors {
  color: red;
}



/* SUCCESS MODAL */

#success {
  width: 50%;
  margin: 25%;
}
