#page-login {
  background-image: url('../images/wall_street.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#summary img {
  width: 90%;
  height: auto;
  margin: 2% 5%;
}

#summary p {
  margin: 2% 2% 2% 4%;
}

#summary h2 {
  margin: 3% 4%;
}

#login-panel {
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 40%;
  width: 75%;
  margin: 0.1% 0.2%;
  background-color: rgba(0,0,0,0.5);
  border: 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
  border-radius: 2px;
  position: absolute;
  text-align: center;
  color: rgba(255,255,255,0.6)
}


#login-form {
  height: 80%;
  width: 90%;
  margin: 0 5%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: 1px solid rgba(234,234,234,0.3);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
  border-radius: 4px;
}
